.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__find-notification {
  position: absolute;
  left: 70px;
  bottom: 20px;
}

.screen-header__more-notification {
  position: absolute;
  left: 120px;
  bottom: 20px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}